<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, assets, nav, content)">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title th:replace="${title}">Tienda</title>


    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script type="text/javascript" th:inline="javascript">
        $(function(){
        	bsCustomFileInput.init();
        });
    </script>
    
    <th:block th:replace="${assets}"></th:block>
    
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#" th:href="@{/home/}">
			<img src="//cdnjs.cloudflare.com/ajax/libs/topcoat-icons/0.1.0/svg/cart.svg" width="30" height="30" class="d-inline-block align-top" alt=""> 
			Tienda Online
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mantenimiento</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Categorías</a>
						<a class="dropdown-item" href="#" th:href="@{/productos/}">Productos</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Reportes</a>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Sing Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Login</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Logout</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<nav th:replace="${nav}" aria-label="breadcrumb">
			<ol class="breadcrumb my-3">
				<li class="breadcrumb-item active" aria-current="page">Inicio</li>
			</ol>
		</nav>
		<div class="alert alert-success" th:if="${message != null}" th:text="${message}"></div>
		<th:block th:replace="${content}"></th:block>
	</div>

  	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  	<script th:src="@{/webjars/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
  	
</body>
</html>
